<script setup lang="ts">

  import {ref} from "vue";
  import {useSongData} from "@/stores/useSongData";
  import router from "@/router";

  const searchData = ref('')

  const { getData } = useSongData()

  async function onSearch() {
    await getData(searchData);
    await router.push({path: '/result'})
  }
</script>

<template>
  <div class="home-page">
    <div class="home-image">
      <img src="../assets/svg/logo.svg" class="logo" alt="logo image">
    </div>
    <div class="home-button">
      <input class="retangle Artist-Album-Tit Text-Style" placeholder="Artist / Album / Title" v-model="searchData">
      <button @click="onSearch()" class="Rectangle-Copy">
        <span class="Search">Search</span>
      </button>
    </div>
  </div>
</template>

<style scoped>

  .home-page {
    min-height: 100vh;
    background-color: #7b34dd;

    .home-image {
      margin:  25.6vh auto;
      text-align: center;
    }

    .home-button {
      .retangle {
        width: 280px;
        height: 40px;
        padding: 0 15px;
        display: block;
        margin: 0 auto 15px auto;
        text-align: center;
        border: none;
        border-radius: 20px;
        color: #181818;
        background-color: white;

        .Artist-Album-Tit {
          width: 120px;
          height: 14px;
          font-size: 12px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.43px;
          color: #64748b;
        }

        .Text-Style {
          font-size: 12px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.43px;
          color: #64748b;
        }
      }

      .Rectangle-Copy {
        border: none;
        display: block;
        color: white;
        width: 280px;
        height: 40px;
        margin: auto;
        font-weight: lighter;
        cursor: pointer;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2) ;

        .Search {
          width: 47px;
          height: 16px;
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: var(--white);
        }
      }
    }
  }

</style>