<script setup lang="ts">
  import {ref} from "vue";
  import {useSongData} from "../stores/useSongData";

  const { getData } = useSongData()
  let open = ref(false)
  const songDataNew = ref(useSongData())
  let searchData = ref('')

  async function onSearch() {
    await getData(searchData)
    open.value = false
  }
</script>

<template>
  <div class="result-section">
    <div class="header">
      <div class="menu-bar">
        <img src="../assets/svg/menu.svg" class="menu">
      </div>
      <div class="title">
        <img src="../assets/svg/ngmusic.svg" class="ngmusic">
      </div>
      <div class="search-menu">
        <img src="../assets/svg/search.svg" class="search" @click="open = true">
      </div>
    </div>
    <div class="result-header">search result for : <span class="search-result">{{ songDataNew.searchData }}</span></div>
    <div v-for="(item, index) in songDataNew.data" :key="index">
      <div class="card-song">
        <div class="grid-container">
          <div>
            <img class="img-artwork" :src="item.artworkUrl100">
          </div>
          <div>
            <div class="card-title">
              {{ item.artistName }}
            </div>
            <div class="card-track">
              {{ item.trackName }}
            </div>
            <div class="grid-bottom">
              <div class="grid-item-bottom-left">
                <div class="chip-genre">{{ item.primaryGenreName }}</div>
              </div>
              <div class="grid-item-bottom-right">
                <img src="../assets/svg/currency-dollar.svg" class="currency-dollar">
                <span class="price">{{ item.trackPrice }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <teleport to="body">
    <div v-if="open" class="modal">
      <div class="modal-body">

        <div class="home-page">
          <div class="modal-search">Search</div>
          <div class="home-button">
            <input class="retangle Artist-Album-Tit Text-Style" placeholder="Artist / Album / Title" v-model="searchData">
            <button @click="onSearch()" class="Rectangle-Copy">
              <span class="Search">Search</span>
            </button>
          </div>
        </div>
        <button @click="open = false">Close</button>
      </div>
    </div>
  </teleport>
</template>

<style scoped>
  .modal {
    display: grid;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    padding: 0 0 28px;
    text-align: center;
    background-color: rgba(28, 28, 45, 0.9);

    .modal-body {
      margin-top: auto;
      margin-bottom: auto;

      .home-page {
        min-height: 100vh;
        margin:  25.6vh auto;
        text-align: center;

        .modal-search {
          margin-bottom: 40px;
          font-family: Roboto;
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.71px;
          color: var(--white);
        }

        .home-button {
          .retangle {
            width: 280px;
            height: 40px;
            padding: 0 15px;
            display: block;
            margin: 0 auto 15px auto;
            text-align: center;
            border: none;
            border-radius: 20px;
            color: #181818;
            background-color: white;

            .Artist-Album-Tit {
              width: 120px;
              height: 14px;
              font-size: 12px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.43px;
              color: #64748b;
            }

            .Text-Style {
              font-size: 12px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.43px;
              color: #64748b;
            }
          }

          .Rectangle-Copy {
            width: 280px;
            height: 40px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            background-image: linear-gradient(#712bda, #a45deb);
            color: white;

            .Search {
              width: 47px;
              height: 16px;
              font-size: 14px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.5px;
              color: var(--white);
            }
          }
        }
      }
    }
  }

  .result-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    color: black;
    background-color: white;
    margin: auto;

    .header {
      padding: 18px 15px 22.2px;
      height: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-image: linear-gradient(#712bda, #a45deb);

      .menu-bar{
        text-align: left;
        img.menu {
          height: 11.4px;
          object-fit: contain;
          cursor: pointer;
        }
      }

      .title {
        text-align: center;
        img.ngmusic {
          height: 15.8px;
          object-fit: contain;
          background-color: var(--white);
        }
      }

      .search-menu {
        text-align: right;
        height: 15.8px;
        object-fit: contain;
        background-color: var(--white);
      }
    }

    .result-header {
      text-align: center;
      margin: 20px 0 20px 0;
      height: 16px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #334155;

      .search-result {
        height: 21px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.64px;
        color: #7b34dd;
      }
    }

    .card-song {
      height: 123px;
      margin: 36px 10px 20px 10px;
      padding: 12px 12px 11px 10px;
      border-radius: 10px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      background-color: var(--white);

      .grid-container {
        display: grid;
        grid-template-columns: 12% 88%;

        .detail-card {
        }

        .img-artwork {
          border-radius: 8px;
        }

        .card-title {
          font-family: Roboto;
          font-size: 10px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          color: #334155;
        }

        .grid-bottom {
          display: grid;
          margin-top: 4vh;
          grid-template-columns: 1fr 1fr;

          .grid-item-bottom-left {
            text-align: left;
            .chip-genre {
              width: fit-content;
              padding: 5px 13px 4px;
              border-radius: 10px;
              font-size: 10px;
              background-color: #10b981;
            }
          }

          .grid-item-bottom-right {
            text-align: end;

            img.currency-dollar {
              width: 16px;
              height: 16px;
              margin: 0 6px 0 0;
              object-fit: contain;
            }

            .price {
              top: -20px;
              font-family: Roboto;
              font-size: 12px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              color: #f5b014;
            }
          }
        }

        .card-track {
          font-family: Roboto;
          font-size: 14px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: #334155;
        }

      }

      @media screen and (max-width: 600px) {
        .grid-container {
          display: grid;
          grid-template-columns: 30% 70%;
        }
      }

      @media (min-width: 600px) and (max-width: 1024px) {
        .grid-container {
          display: grid;
          grid-template-columns: 20% 80%;
        }
      }
    }
  }
</style>