<script setup lang="ts">
  import {useHead} from "@unhead/vue";

  useHead({
    htmlAttrs: {
      lang: 'en'
    },
    title: 'Music Search',
    meta: [
      {name: 'description', content: 'Music Search Page.'},
    ],
    link: [
      {
        rel: 'icon',
        type: 'image/png',
        href: 'public/logo.png'
      }
    ]
  })
</script>

<template>
  <RouterView />
</template>

<style scoped>

</style>
